.about-us {
  position: relative;
  background-color: #fbebea;
  margin: 0;
  padding: 45px 0 0 0;
}

.about-us__title {
  margin: 0 0 23px;
  text-align: center;
  font-family: "Playfair", "arial", sans-serif;
  font-weight: bold;
  font-size: 22px;
}

.about-us__photo {
  margin: 0 0 0 21px;
}

.about-us__social-block {
  position: absolute;
  display: flex;
  left: 210px;
  top: 95px;
  flex-wrap: wrap;
  width: 35px;
  height: 153px;
}

