.concern {
  margin: 0 auto;
  min-height: 335px;
  padding: 35px 0 0 0;
  background-color: #fbebea;
  background-image: url(../../img/concern-cake.png);
  background-repeat: no-repeat;
  background-position: 0px 202px;
}

.concern__title {
  margin: 0 0 8px 22px;
  font-family: "Playfair", "arial", sans-serif;
  font-weight: bold;
  font-size: 24px;
}

.concern__description {
  margin: 0 0 0 19px;
  font-family: "Intro", "arial", sans-serif;
  font-weight: normal;
  font-size: 22px;
}

.concern__text {
  margin: 0 0 0 19px;
  font-family: "Circe", "arial", sans-serif;
  font-weight: normal;
  width: 254px;
  font-size: 14px;
  line-height: 1.25;
}
