.conditions {
  margin: 0;
  padding: 30px 0 125px;
  background-color: #e3353d;
  color: #fff;
  background-image: url(../../img/dilevery.png);
  background-repeat: no-repeat;
  background-position: 0 315px;
}

.conditions__title {
  margin: 0 0 38px 0;
  padding: 0;
  color: #ffffff;
  font-family: "Playfair", "arial", sans-serif;
  font-weight: bold;
  font-size: 24px;
  text-align: center;
}

.conditions__list {
  margin: 0 0 0 70px;
  padding: 0;
  width: 225px;
  line-height: 1;
}

.conditions__list-title {
  margin: 0 0 5px 0;
  padding: 0;
  font-family: "Circe", "arial", sans-serif;
  font-weight: bold;
  font-size: 15px;
}

.conditions__list-description {
  margin: 0 0 25px 0;
  padding: 0;
  font-family: "Circe", "arial", sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.2;
}
