.confectioner-block {
  padding: 5px 0 0 19px;
}

.confectioner-block__title {
  margin: 0 0 0 0;
  font-family: "Intro", "arial", sans-serif;
  font-weight: normal;
  font-size: 22px;
}

.confectioner-block__recognition {
  margin: 0 0 5px 2px;
  font-family: "Circe", "arial", sans-serif;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 0.3px;
}

.confectioner-block__recognition-text {
  margin: 0 0 7px 2px;
  font-family: "Circe", "arial", sans-serif;
  font-weight: normal;
  font-size: 14px;
  width: 281px;
  line-height: 1.25;
}

.confectioner-block__principle {
  margin: 0 0 4px 2px;
  font-family: "Circe", "arial", sans-serif;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 0.3px;
}

.confectioner-block__principle-text {
  margin: 0 0 7px 0;
  font-family: "Circe", "arial", sans-serif;
  font-weight: normal;
  font-size: 14px;
  width: 273px;
  line-height: 1.25;
}
