.contacts {
  margin: 0;
  padding: 36px 20px 42px 20px;
  background-color: #fbebea;
}

.contacts__title {
  margin: 0 0 10px 0;
  padding: 0;
  text-align: center;
  font-family: "Playfair", "arial", sans-serif;
  font-weight: bold;
  font-size: 24px;
}

.contacts__question {
  margin: 0 0 6px 0;
  padding: 0;
  font-family: "Intro", "arial", sans-serif;
  font-weight: normal;
  font-size: 22px;
}

.contacts__form-feedback {
  margin: 0 0 8px 0;
  padding: 0;
  font-family: "Circe", "arial", sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.2;
}

.contacts__form {
  list-style: none;
  margin: 0 0 30px 0;
  padding: 0;
  font-family: "Circe", "arial", sans-serif;
  font-weight: normal;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.2);
  line-height: 1.2;
}

.contacts__input {
  box-sizing: border-box;
  list-style: none;
  margin: 0 0 9px 0;
  padding: 0 0 0 9px;
  width: 100%;
  height: 50px;
  border: none;
  line-height: 1.2;

  &--text {
    height: 120px;
    margin-bottom: 18px;
    padding: 15px 0 0 9px;
    resize: none;
  }

  &::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.2);
    font-family: "Circe", "arial", sans-serif;
    font-weight: normal;
    font-size: 14px;
  }
}

.contacts__form-submit {
  display: block;
  margin: 0 auto 24px;
  padding: 0;
  background-color: #f50049;
  width: 180px;
  height: 50px;
  border: none;
  border-radius: 25px 25px 25px 25px;
  color: #ffffff;
  font-family: "Circe", "arial", sans-serif;
  font-weight: normal;
  font-size: 19px;
}

.contacts__phone {
  margin: 0 0 17px 0;
  width: 190px;
  font-weight: 700;
  font-family: "Circe", "arial", sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.2;
}

.contacts__email {
  margin: 0 0 17px 0;
  font-weight: 700;
  font-family: "Circe", "arial", sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.2;
}

.contacts__social {
  margin: 0 0 12px 0;
  font-weight: 700;
  font-family: "Circe", "arial", sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.2;
}


@media (min-width: @tablet-width) {
  .contacts {
    position: relative;
    display: flex;
    padding: 80px 45px 80px;
    background-image: url(../../img/contacts_decor.png);
    background-repeat: no-repeat;
    background-position: 310px 188px;
  }

  .contacts__title {
    position: absolute;
    top: 45px;
    left: 47px;
    font-size: 28px;
  }

  .contacts__block-feedback {
    width: 362px;
  }

  .contacts__question {
    margin: 0 0 16px;
  }

  .contacts__form-feedback {
    width: 250px;
    margin: 0 0 15px 2px;
  }

  .contacts__form {
    width: 347px;
  }

  .contacts__input {
    padding: 0 0 0 12px;

    &--text {
      padding: 15px 0 0 12px;
    }
  }

  .contacts__form-submit {
    width: 162px;
    height: 42px;
    margin: 8px 0px 0 1px;
    font-size: 14px;
  }

  .contacts__block-contacts {
    width: 300px;
    padding: 45px 0 0 68px;
  }

  .contacts__social {
    margin: 0 0 20px;
  }
}
