.decor__title {
  margin: 0 0 23px 20px;
  font-family: "Playfair", "arial", sans-serif;
  font-weight: bold;
  font-size: 16px;
  color: #f50049;

  &--number {
    font-size: 30px;
    margin-right: 12px;
  }
}

.decor__decor-img {
  display: block;
  margin: 0 auto 11px;
}

.decor__slide-img {
  display: block;
  margin: 0 auto 15px;
}

.decor__name {
  margin: 0 0 2px 0;
  text-align: center;
  font-family: "Circe", "arial", sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 1;
}

.decor__price {
  margin: 0 0 29px 0;
  text-align: center;
  font-family: "Playfair", "arial", sans-serif;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
}

.decor__accept {
  display: block;
  margin: 0 auto 24px;
  padding: 0;
  background-color: #f50049;
  width: 180px;
  height: 50px;
  border: none;
  border-radius: 25px 25px 25px 25px;
  color: #ffffff;
  text-transform: uppercase;
  font-family: "Circe", "arial", sans-serif;
  font-weight: normal;
  font-size: 13px;
}

@media (min-width: @tablet-width) {
  .decor {
    padding-top: 35px;
    position: relative;
    min-height: 347px;
  }

  .decor__title {
    margin: 0 0 0 45px;
    font-size: 18px;

    &--number {
      font-size: 36px;
    }
  }

  .decor .decor__type-block {
    display: flex;
    justify-content: space-between;
    width: 420px;
    margin: 0 0 0 220px;
  }
}

