.footer-nav {
  margin: 0 0 8px 0;
  padding: 0;
  list-style: none;
  font-family: "Roboto", "arial", sans-serif;
  font-weight: normal;
  font-size: 14px;
}

.footer-nav__item {
  margin: 0 0 5px 0;
  padding: 0;
}

@media (min-width: @tablet-width) {
  .footer-nav {
    display: flex;
    font-size: 12px;
    width: 605px;
    justify-content: space-between;
  }
}
