.intro {
  min-width: 320px;
  min-height: 450px;
  background-color: #fbebea;
  background-image: url("../img/intro-cake.png");
  background-repeat: no-repeat;
  background-position: 0 -40px;
  box-sizing: border-box;
  padding: 128px 0 0 0;
}

.intro__title {
  margin: 0 auto 25px;
  padding: 0;
  font-family: "Playfair", "arial", sans-serif;
  font-weight: bold;
  font-size: 40px;
  letter-spacing: 0.075em;
  line-height: 0.9;
  width: 195px;
  text-align: center;

  &--notice {
    font-size: 22px;
    font-family: "Intro", "arial", sans-serif;
    font-weight: normal;
    letter-spacing: 0;
  }
}

.intro__pick-cake {
  display: block;
  outline: none;
  margin: 0 auto;
  background-color: #f50049;
  color: #ffffff;
  font-family: "Circe", "arial", sans-serif;
  font-weight: normal;
  font-size: 13px;
  text-transform: uppercase;
  height: 50px;
  width: 225px;
  border: 0;
  border-radius: 25px 25px 25px 25px;

  &:hover {
    box-shadow: 0px 5px 7.04px 0.96px rgba(255, 0, 67, 0.3);
  }
}

@media (min-width: @tablet-width) {
  .intro {
    padding: 103px 0 0 0;
    background-image: url(../img/intro-cake768.png);
    background-repeat: no-repeat;
    background-position: 273px 13px;
  }

  .intro__title {
    margin: 0 0 255px 45px;
    font-size: 60px;
    width: 280px;
    text-align: left;

    &--notice {
      font-size: 36px;
    }
  }

  .intro__pick-cake {
    position: absolute;
    left: 47px;
    top: 390px;
  }
}

@media (min-width: @desktop-width) {
  .intro {
    padding: 135px 0 300px 0;
    background-image: url(../img/intro-cake1366.png);
    background-position: 358px 5px;
  }

  .intro__title {
    font-size: 78px;
    margin: 0 0 238px 70px;
    width: 370px;
    line-height: .85;

    &--notice {
      font-size: 40px;
    }
  }

  .intro__pick-cake {
    left: 73px;
    top: 502px;
  }
}
