.quote {
  margin: 0;
  padding: 35px 0 0 0;
}

.quote__commas {
  display: block;
  text-align: center;
  margin: 0 auto 1px;
  font-family: "Playfair", "arial", sans-serif;
  font-weight: bold;
  font-size: 60px;
  color: #ffffff;
}

.quote__text {
  display: block;
  margin: 0 auto 20px;
  font-family: "Playfair", "arial", sans-serif;
  font-weight: bold;
  font-size: 13px;
  font-style: italic;
  text-align: center;
  width: 270px;
  line-height: 1.2;
  letter-spacing: 0.25px;
}

.qoute__autograph {
  display: block;
  margin: 0 auto;
}
