.your-choice {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 13px 0 1px 0;
  background-color: #ffffff;
  width: 280px;
}

.your-choice__title {
  margin: 0 0 10px 19px;
  font-family: "Playfair", "arial", sans-serif;
  font-weight: bold;
  font-size: 22px;
}

.your-choice__name {
  display: block;
  width: 200px;
  margin: 0 0 2px 30px;
  color: #f50049;
  text-align: center;
  font-family: "Intro", "arial", sans-serif;
  font-weight: normal;
  font-size: 20px;
}

.your-choice__description {
  display: block;
  width: 240px;
  height: 28px;
  vertical-align: middle;
  margin: 0 0 10px 14px;
  font-family: "Circe", "arial", sans-serif;
  font-weight: normal;
  font-size: 14px;
  text-align: center;
  border-radius: 25px 25px 25px 25px;
  border: 1px solid #eaeaea;

  &--decor {
    margin-bottom: 33px;
  }
}

.your-choice__btn {
  display: block;
  outline: none;
  margin: 0 auto 32px;
  padding: 0;
  background-color: #f50049;
  width: 225px;
  height: 50px;
  border: none;
  border-radius: 25px 25px 25px 25px;
  color: #ffffff;
  text-transform: uppercase;
  font-family: "Circe", "arial", sans-serif;
  font-weight: normal;
  font-size: 13px;
  cursor: pointer;

  &:hover {
    box-shadow: 0px 5px 7.04px 0.96px rgba(255, 0, 67, 0.3);
  }
}

@media (min-width: @tablet-width) {
  .your-choice {
    position: relative;
    display: flex;
    margin: 0 20px;
    width: 727px;
    padding: 50px 0 0 45px;
  }

  .your-choice__title {
    position: absolute;
    font-size: 18px;
    margin: 0;
    left: 45px;
    top: 20px;
  }

  .your-choice__block {
    margin-right: 17px;
  }

  .your-choice__name {
    font-size: 18px;
    text-align: left;
    margin: 0 0 6px 0;

    &--filling {
      width: 160px;
    }

    &--size {
      width: 75px;
      text-align: center;
    }

    &--decor {
      width: 160px;
    }
  }

  .your-choice__description {
    font-size: 12px;
    margin: 0;

    &--filling {
      width: 160px;
    }

    &--size {
      width: 75px;
    }

    &--decor {
      width: 160px;
    }
  }

  .your-choice__btn {
    width: 160px;
    height: 40px;
    font-size: 10px;
    margin: 20px 0px 45px 25px;
  }
}

@media (min-width: @desktop-width) {
  .your-choice {
    margin: 0 auto;
    width: 1220px;
    padding: 80px 0 70px 70px;
  }

  .your-choice__title {
    font-size: 27px;
    left: 75px;
    top: 27px;
  }

  .your-choice__name {
    font-size: 27px;
    margin: 0 0 15px;

    &--decor {
      margin: 0 0 10px;
    }
  }

  .your-choice__description {
    font-size: 18px;
    border: none;

    &--size {
      text-align: left;
      letter-spacing: 2px;
    }

    &--decor {
      text-align: left;
    }
  }

  .your-choice__block {
    width: 252px;
    height: 71px;
    border-bottom: 1px solid #c1b0af;

    &--filling {
      margin-right: 82px;
    }

    &--size {
      width: 138px;
      margin-right: 83px;
    }

    &--decor {
      margin-right: 26px;
    }
  }

  .your-choice__btn {
    width: 225px;
    font-size: 13px;
    height: 50px;
    margin: 20px 0 0 0;
  }
}
